/Account.class
/AccountLimitStatus.class
/AccountType.class
/BatchSimulateStatus.class
/Coa.class
/Coadet.class
/Contact.class
/Customer.class
/Diaryprogramcontrol.class
/Fanikiwamessage.class
/Informdb.class
/Loan.class
/Mailinggroup.class
/Mailinggroupmember.class
/Member.class
/Messagestore.class
/Offer.class
/OfferModel.class
/OfferReceipient.class
/OfferStatus.class
/Offergroup.class
/Offergroupemailaddress.class
/Organization.class
/PassFlag.class
/STO.class
/Settingsgroup.class
/SimulatePostStatus.class
/TieredDet.class
/Tieredtable.class
/Transaction.class
/TransactionModel.class
/TransactionType.class
/Userprofile.class
/ValueDatedTransaction.class
/CustomerEndpoint.class
/OrganizationEndpoint.class
