<!DOCTYPE html>
<html>
<head>
    <title>Make An Investment</title>
</head>
<body>
 
    <div id="login">
       <input id="loginButton" type="button" value="Login"/>
    </div>
     <p>
            <a id="btnSubmitCreateOfferForm" style="cursor: pointer;" title="I want to lend money to somebody">I want to lend money to somebody</a>
        </p> 
         
    <form action="javascript:void(0);">
        <h2>List Quotes</h2>
        <div><input id="listQuote" type="submit" value="List Quotes"></div>
    </form>
    <div id="listQuotesResult"></div>
    
    <form action="javascript:void(0);">
      <h2>Insert New Quote</h2>
         <div><input id="txtAuthorName" placeholder="Author name here"></input></div>
         <div><input id="txtMessage" placeholder="Quote text here"></input></div>
         <div><input id="insertQuote" type="submit" value="Insert Quote"></div>
    </form>
    
    <form action="javascript:void(0);">
      <h2>Update Quote</h2>
         <div><input id="editQuoteID" placeholder="Quote ID value"></input></div>
         <div><input id="editAuthorName" placeholder="Author name here"></input></div>
         <div><input id="editMessage" placeholder="Quote text here"></input></div>
         <div><input id="updateQuote" type="submit" value="Update Quote"></div>
    </form>
    
    
    <form action="javascript:void(0);">
      <h2>Delete Quote</h2>
         <div><input id="quoteID" placeholder="Quote ID value"></input></div>
         <div><input id="deleteQuote" type="submit" value="Delete Quote"></div>
    </form>
    
    
    <script type="text/javascript">
    
        var scopes = 'https://www.googleapis.com/auth/userinfo.email';
        var client_id = '677741298101-bljhj3o9f1gvb6adp4uiakvbhs857hrh.apps.googleusercontent.com';
    
        function handleAuth() {
    	  var request = gapi.client.oauth2.userinfo.get().execute(function(resp) {
    	    if (!resp.code) {
    	      // User is signed in, so hide the button
    	      document.getElementById('loginButton').style.visibility = 'hidden';
    	      document.getElementById('login').innerText = 'Welcome ' + resp.name;
    	    }
    	    else {
    	    	document.getElementById('loginButton').style.visibility = '';
    	    }
    	  });
    	}
        
        function signin(mode, callback) {
        	  gapi.auth.authorize({client_id: client_id,scope: scopes, immediate: mode},callback);
        }
    
        function init() {
        	var apisToLoad;
        	var callback = function() {
        	   if (--apisToLoad == 0) {
        	     signin(true, handleAuth);
        	   }
        	}
        	  
        	apisToLoad = 2;
        	//Parameters are APIName,APIVersion,CallBack function,API Root 
        	//gapi.client.load('quoteendpoint', 'v1', callback, 'http://localhost:8888/_ah/api');
        	gapi.client.load('quoteendpoint', 'v1', callback, 'https://1-dot-fanikiwaweb.appspot.com/_ah/api');
        	gapi.client.load('oauth2','v2',callback);
        	
        	
        	document.getElementById('listQuote').onclick = function() {
        	    listQuotes();
        	  }
        	
        	document.getElementById('insertQuote').onclick = function() {
        		insertQuote();
        	}
        	
        	document.getElementById('updateQuote').onclick = function() {
        		updateQuote();
        	}
        	
        	document.getElementById('deleteQuote').onclick = function() {
        		deleteQuote();
        	}
        	
        	document.getElementById('loginButton').onclick = function() {
        		signin(false,handleAuth);
        	}
        }
        
        //List Quotes function that will execute the listQuote call
        function listQuotes() {
        	gapi.client.quoteendpoint.listQuote().execute(function(resp) {
        		if (!resp.code) {
        			resp.items = resp.items || [];
        			var result = "";
        			for (var i=0;i<resp.items.length;i++) {
        				result = result+ resp.items[i].message + "..." + "<b>" + resp.items[i].author + "</b>" + "[" + resp.items[i].id + "]" + "<br/>";
        			}
        			document.getElementById('listQuotesResult').innerHTML = result;
        		}
        	});
        }
        
        //Insert Quote function
        function insertQuote() {
        	//Validate the entries
        	var _AuthorName = document.getElementById('txtAuthorName').value;
        	var _Message = document.getElementById('txtMessage').value;
        	
        	//Build the Request Object
        	var requestData = {};
        	requestData.author = _AuthorName;
        	requestData.message = _Message;
        	gapi.client.quoteendpoint.insertQuote(requestData).execute(function(resp) {
        		console.log(resp);
        		if (!resp.code) {
        			//Just logging to console now, you can do your check here/display message
        			console.log(resp.id + ":" + resp.author + ":" + resp.message);
        		}
        		else {
        			console.log(resp.code + " : " + resp.message);
        			alert("Error : " + resp.code + ":" + resp.message);
        		}
        	});
        }
        
        //Update Quote function
        function updateQuote() {
        	//Validate the entries
        	var _ID = document.getElementById("editQuoteID").value;
        	var _AuthorName = document.getElementById('editAuthorName').value;
        	var _Message = document.getElementById('editMessage').value;
        	
        	//Build the Request Object
        	var requestData = {};
        	requestData.id = _ID;
        	requestData.author = _AuthorName;
        	requestData.message = _Message;
        	gapi.client.quoteendpoint.updateQuote(requestData).execute(function(resp) {
        		if (!resp.code) {
        			//Just logging to console now, you can do your check here/display message
        			console.log(resp.id + ":" + resp.author + ":" + resp.message);
        		}
        	});
        }
        
        //Delete Quote function
        function deleteQuote() {
        	//Validate the entries
        	var _ID = document.getElementById('quoteID').value;
        	
        	//Build the Request Object
        	var requestData = {};
        	requestData.id = _ID;
        	console.log(requestData);
        	gapi.client.quoteendpoint.removeQuote(requestData).execute(function(resp) {
        		//Just logging to console now, you can do your check here/display message
        		console.log(resp);
        	});
        }
        
    </script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
</body>
</html>

   


@model IEnumerable<fPeerLending.Entities.Offer>
@using fPeerLending.Business;

@{
    ViewBag.Title = "Make An Investment";
    int Offers = Model.Count();
}

<h2 class="page-title">Make An Investment [ @Offers ] </h2>

<div>
    @using (Html.BeginForm("CreateLendOffer", "Offers", FormMethod.Get, new { enctype = "multipart/form-data", id = "create-offer-form" }))
    { 
        <p>
            <a id="btnSubmitCreateOfferForm" style="cursor: pointer;" title="I want to lend money to somebody">I want to lend money to somebody</a>
        </p> 
         
    }
</div>

<p>
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicOffer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:N2}", item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.PublicOffer.Equals("B"))
                {               
                    <text>Public</text>
                }
                @if (item.PublicOffer.Equals("V"))
                {               
                    <text>Private</text>
                }
            </td>
            <td>
                @if (item.Status.Equals(OfferStatus.Open.ToString()))
                {               
                    @Html.ActionLink("Accept", "AcceptBorrowOffer", new { id = item.Id }) <text>|</text>
                }
                @if (item.PartialPay && item.Status.Equals(OfferStatus.Open.ToString()))
                {               
                    @Html.ActionLink("Accept Partial", "AcceptPartialBorrowOffer", new { id = item.Id }) <text>|</text>
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>











@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {

            $("#progress").hide();

            $.ajaxSetup({ cache: false });

        });

        $("#btnSubmitCreateOfferForm").on("click", function (e) {

            e.preventDefault();

            $("#progress").removeClass('displaynone');
            $("#progress").addClass('displayblock');
            $("#progress").show();

            $("#create-offer-form").submit();

        });

    </script>

}









